.ticket {
  &-wrapper {
    @apply flex flex-col lg:flex-row flex-wrap items-center space-y-8 lg:items-start justify-between;
  }

  &-room {
    @apply w-full lg:w-7/12;
  }

  &-ticket {
    @apply w-full sm:w-1/2 lg:w-4/12;
  }

  &-content {
    @apply w-full h-full bg-slate-900 text-slate-300 rounded-md overflow-hidden drop-shadow-lg;
  }

  &-screen {
    @apply w-full py-0.5 bg-white shadow-lg shadow-slate-100/70 rounded-md mb-8;

    &__text {
      @apply text-xs sm:text-sm text-black text-center font-medium leading-none;
    }
  }

  &-seatlist {
    @apply flex items-center justify-between flex-wrap;
  }

  &-seatdes {
    @apply table-auto mx-auto mt-4;

    &__wrapper {
      @apply text-center flex flex-col items-center space-y-1 px-2;
    }

    &__icon {
      @apply w-4 h-4 sm:w-6 sm:h-6;
    }

    &__text {
      @apply text-xs sm:text-sm;
    }
  }

  &-seat {
    @apply w-1/16 p-0.5 border border-transparent rounded-md transition-all;

    &__hover {
      @apply hover:bg-slate-900 hover:border-emerald-400;
    }

    &__icon {
      width: 100%;
      @apply h-4 md:h-8;
    }

    &__regular {
      @apply text-slate-400 hover:text-slate-300;
    }

    &__vip {
      @apply text-yellow-400 hover:text-yellow-300;
    }

    &__choosin {
      @apply text-emerald-400;
    }

    &__sold {
      @apply text-red-800;
    }

    &__user {
      @apply text-blue-800;
    }
  }

  &-poster {
    @apply relative w-full overflow-hidden;

    &::before,
    &::after {
      @apply absolute bottom-0 w-6 h-6 bg-slate-950;
      content: "";
    }

    &::before {
      @apply left-0;
      border-radius: 0 100% 100% 0/1% 100% 0 100%;
    }

    &::after {
      @apply right-0;
      border-radius: 100% 0 100% 0/100% 100% 0 0;
    }
  }

  &-checkout {
    @apply relative px-3 pb-3 sm:px-7 sm:pb-7;

    &::before,
    &::after {
      @apply absolute z-50 top-0 w-6 h-6 bg-slate-950;
      content: "";
    }

    &::before {
      @apply left-0;
      border-radius: 100% 0 100% 0/0 0 100%;
    }

    &::after {
      @apply right-0;
      border-radius: 100% 0 0 100%/0 100% 0 100%;
    }

    &__title {
      @apply text-base sm:text-lg font-bold text-white border-t-2 border-slate-600 border-dashed pt-7;
    }

    &__datetime,
    &__place {
      @apply text-sm sm:text-base font-medium;
    }

    &__listed {
      @apply mb-6 flex items-start gap-2;
    }

    &__choosen {
      @apply w-7/12;
    }

    &__total {
      @apply w-5/12 text-right;
    }

    &__choosen,&__total {
      @apply text-sm sm:text-base;
    }

    &__seatlist {
      @apply text-base sm:text-lg font-medium text-white;
    }

    &__price {
      @apply text-base sm:text-xl font-medium text-white;
    }
  }
}
