.main-header {
  @apply fixed w-full z-40 bg-gradient-to-b from-slate-950 to-transparent transition-all ease-in-out duration-200 py-4 lg:py-6;
}

.header-onscroll {
  @apply bg-slate-950 bg-opacity-80;
}

.brand {
  font-family: "Oswald", sans-serif;
  @apply font-bold flex items-center justify-center space-x-1;

  &-corp {
    @apply text-xl leading-tight bg-slate-950 bg-opacity-50 border-2 border-emerald-500 px-1 md:px-1.5 rounded-md;
  }

  &-sub {
    @apply text-3xl;
  }
}

.btn {
  &-nav {
    @apply flex items-center space-x-1 bg-slate-800 px-1.5 py-0.5 md:px-2 md:py-1 rounded-md;

    &__avatar {
      @apply w-6 h-6 bg-slate-500 border border-white rounded-full overflow-hidden outline-none;
    }

    &__icon {
      @apply w-8 h-8;
    }
  }
}

.page {
  &-nav {
    &__desktop {
      @apply flex items-center justify-center space-x-8 font-medium;
    }

    &__tablet {
      @apply fixed inset-0 hidden -z-10 pt-16 bg-slate-950;
    }

    &__menu {
      @apply font-medium text-center;

      a {
        @apply block py-4 rounded-md hover:bg-slate-900 hover:text-emerald-400 transition-all;
      }
    }
  }
}

.open {
  @apply block;
}

.user {
  &-dropdown {
    &:hover {
      .user-menu {
        @apply block;
      }
    }
  }

  &-menu {
    @apply absolute right-0 hidden w-40 pt-2;

    li {
      a,
      button,
      span {
        @apply w-full text-center bg-slate-800 py-2.5 px-5 block;
      }

      span {
        @apply text-slate-300 border-b border-b-slate-700;
      }

      a,
      button {
        @apply text-white font-medium hover:bg-slate-600;
      }

      span {
        @apply rounded-t-md;
      }

      button {
        @apply rounded-b-md;
      }
    }
  }
}
