.footer {
  @apply bg-slate-950 border-t border-t-slate-700 py-10 lg:py-16;

  &-content {
    @apply flex flex-col space-y-8 md:space-y-10 lg:space-y-0 lg:flex-row-reverse lg:items-stretch lg:justify-between;
  }

  &-links {
    @apply w-full flex flex-col items-center space-y-4 sm:space-y-0 sm:items-stretch sm:flex-row-reverse lg:flex-col sm:justify-between lg:w-1/2;
  }

  &-pagenav {
    @apply text-xs sm:text-sm lg:text-base flex items-center justify-center lg:justify-end flex-wrap space-x-2 lg:space-x-5 font-medium;

    li {
      @apply space-x-3 lg:space-x-5;

      a {
        @apply hover:text-emerald-400 transition-all;
      }
    }
  }

  &-social {
    @apply flex items-center justify-end space-x-5 font-medium text-slate-200;

    svg {
      @apply w-6 h-6;
    }
  }

  &-slogan {
    @apply w-full lg:w-1/2 text-center lg:text-left text-lg md:text-xl lg:text-2xl xl:text-3xl font-medium text-slate-50;
  }

  &-bottom {
    @apply flex flex-col space-y-2 sm:space-y-0 sm:flex-row items-center justify-between border-t border-t-slate-900 pt-5 mt-5;
  }

  &-service {
    @apply flex items-center justify-center flex-wrap space-x-5 text-xs sm:text-sm font-medium text-slate-400 transition-all;

    li {
      a {
        @apply hover:text-slate-100;
      }
    }
  }

  &-copyright {
    @apply text-sm font-medium text-slate-400;
  }
}
